*{
	box-sizing: border-box;
	font-family: sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#text{
	width: 100%;
	height: 100%;
	background-color: #3E3E3E;
	color: #EEE;
	font-size: 18px;
	padding: 5px;
}


/*remove a borda laranja esquisita*/
#text:focus{
	outline: none;
}